{% extends 'baseuser.html' %}

{% load static %}
{% block title %}Coupon detail{% endblock title %}
{% block body %}
<style>
    .container {
        padding: 20px;
    }
    
    /* Style the coupon cards */
    .card {
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.2s;
        width: 50%;
        height: 65%;
    }
    
    .card:hover {
        transform: scale(1.05);
    }
    
    /* Style the coupon code */
    .coupon-code {
        font-size: 24px;
        font-weight: bold;
        color: #333;
    }
    
    /* Style the coupon description */
    .coupon-description {
        margin-top: 10px;
        font-size: 16px;
        color: #555;
    }
    
    /* Style other coupon details */
    .coupon-detail {
        font-size: 14px;
        color: #777;
    }
</style>
<div style="margin-top: 60px">
    <div class="container">
        <div class="text-center">
            <div class="test_title">
                <h2> <strong>COUPONS</strong></h2>
                <h6><strong>Available Coupons</strong></h6>
            </div>
            {% for coupon in coupons %}
            <div style="display: flex;justify-content: center;align-items: center;height: 60vh;">
                <div class="card">
                    <h6 style="margin-top: 25px" class="test_title">
                        <strong>{{ coupon.coupon_code }}</strong>
                    </h6>
                    <p>{{ coupon.description }}</p>
                    <p>
                        You should purchase for a minimum of
                        <strong>{{ coupon.minimum_amount }}</strong>
                    </p>
                    <p>Discount amount: <strong>{{ coupon.discount }}</strong></p>
                    <p>Valid from: <strong>{{ coupon.valid_from }}</strong></p>
                    <p>Valid to: <strong>{{ coupon.valid_to }}</strong></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}